@import "../../../styles/variables.scss";

header {
  display: flex;
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);

  .status-wrapper {
    display: flex;
    gap: 3.5vh;
    padding: 20px;
    justify-content: space-between;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    padding-left: 15px;
  }

  .status {
    display: flex;
    gap: 2px;
    flex-direction: column;

    p {
      font-size: 18px;
      font-weight: 500;
      color: $primary-color;
    }

    span {
      font-size: 15px;
      color: $online-color;
    }
  }
}
