<main class="chat-wrapper">
  <header>
    <button (click)="openHome()">
      <icon-arrow-left></icon-arrow-left>
    </button>
    <div class="status-wrapper">
      <icon-map-museum></icon-map-museum>
      <div class="status">
        <p>Museu</p>
        <span><icon-elipse></icon-elipse> Online</span>
      </div>
    </div>
  </header>
  <section class="chat-content">
    <chat-suggestions
      (questionSelected)="sendSuggestionQuestion($event)"
      *ngIf="questions.length === 0"
    >
    </chat-suggestions>
    <chat-dialog [messages]="questions"></chat-dialog>
  </section>
</main>
