<main class="home-wrapper">
  <header>
    <h1>Seu Assistente Chegou!</h1>
    <p>
      Aqui você consegue tirar todas as <br>
      suas dúvidas e aprender mais sobre o <br>
      Museu do Doce de Pelotas!
    </p>
  </header>
  <section class="img-section">
    <div class="image">
      <icon-sparkle class="sparkle"></icon-sparkle>
      <img src="assets/museu-home.png" alt="museu home">
    </div>
  </section>
  <div class="button-wrapper">
    <button>
      vamos conversar?
      <img src="assets/arrow-right.png">
    </button>
  </div>
</main>
